# virtual environments
ILvenv/
venv*/

# Conda env files
.conda/

# Python bytecode
__pycache__/
*.py[cod]

# Data / large outputs
outputs/
*.pth
*.h5

# Editor/temp files
*.swp
*.tmp

# Shell scripts you don’t want versioned
runIL.sh
metsIL.sh

######################
##### Manual Additions
######################
.DS_Store
*.swp
*.save
.vscode/
output/
sources/
.gif
venv_divae/
outputs/
outputs_sym/
wandb/
data/MNIST/
MNIST/
#configs/
*.code-workspace
sandbox/
nohup.out
runJT.sh
GenSamples_bkp.ipynb
llJT.sh
figs/
runSG.sh
init_container.sh
fast_stern_test.ipynb
stein/
##############################################
#### Automatically created
##############################################

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
