tag: default
debug: False
load_data_from_pkl: 0

save_state: 1
load_state: 0
save_hists: 1

wandb_enabled: 0

output_path: /fast_scratch_2/CaloQVAE_scratch/tvale/outputs
device: gpu
gpu_list:
  - 3

task:
  - train
  - validate
  - test

defaults:
  - model: gumboltcaloprbm
  - data: calo
  - engine: dvaecalo_training
